version: "3.8"

services:
  # Container 1: file excel số 1
  comment_crawler_excel1:
    image: comment_crawler:latest

    build:
      context: .
      dockerfile: comment-Dockerfile
    environment:
      - PAGE_NAME=nvdai0906-100044544594726
      - INPUT_EXCEL=/app/database/post/page/nvdai0906/ACC_nvdai0906/nvdai0906-100044544594726-v1.xlsx
      - COOKIE_PATH=/app/database/facebookaccount/authen_tranhoangdinhnam/cookies.json
      - DATA_ROOT=/app/database
      - HEADLESS=true
    volumes:
      - ./comment:/app/comment
      - ./util:/app/util
      - ./logs:/app/logs
      - ./database:/app/database
    shm_size: 1gb
    restart: unless-stopped

  # Container 2: file excel số 2
  comment_crawler_excel2:
    image: comment_crawler:latest     # <-- dùng lại image đã build
    environment:
      - PAGE_NAME=nvdai0906-100044544594726
      - INPUT_EXCEL=/app/database/post/page/nvdai0906/ACC_nvdai0906/nvdai0906-100044544594726-v2.xlsx
      - COOKIE_PATH=/app/database/facebookaccount/authen_theodorescsa2004/cookies.json
      - DATA_ROOT=/app/database
      - HEADLESS=true
    volumes:
      - ./comment:/app/comment
      - ./util:/app/util
      - ./logs:/app/logs
      - ./database:/app/database
    shm_size: 1gb
    restart: unless-stopped

  comment_crawler_excel3:
    image: comment_crawler:latest     # <-- dùng lại image đã build
    environment:
      - PAGE_NAME=nvdai0906-100044544594726
      - INPUT_EXCEL=/app/database/post/page/nvdai0906/ACC_nvdai0906/nvdai0906-100044544594726-v3.xlsx
      - COOKIE_PATH=/app/database/facebookaccount/authen_theodorescsa0312/cookies.json
      - DATA_ROOT=/app/database
      - HEADLESS=true
    volumes:
      - ./comment:/app/comment
      - ./util:/app/util
      - ./logs:/app/logs
      - ./database:/app/database
    shm_size: 1gb
    restart: unless-stopped
