# post-docker-compose.yml
services:
  # Service 1: Crawler page Thoibao.de
  post_crawler_thoibaode_acc01:
    build:
      context: .
      dockerfile: post-Dockerfile
    image: fb-post-crawler:latest
    environment:
      GROUP_URL: "https://www.facebook.com/thoibao.de#"
      PAGE_NAME: "thoibao.de"
      ACCOUNT_TAG: "thoibao.de"
      DATA_ROOT: "/app/database"
      COOKIE_PATH: "/app/database/facebookaccount/authen_nganhamy/cookies.json"
      HEADLESS: "true"
      CRAWL_DATE: "2025-12-4"
      KEEP_LAST: "350"
    volumes:
      - ./post:/app/post
      - ./util:/app/util
      - ./logs:/app/logs
      - ./database:/app/database
    restart: unless-stopped
    shm_size: "1g"
