version: "3.8"

services:
  post_crawler_acc01:
    build:
      context: .
      dockerfile: post-Dockerfile
    environment:
      - GROUP_URL=https://www.facebook.com/thoibao.de
      - PAGE_NAME=thoibaode
      - ACCOUNT_TAG=acc01
      - DATA_ROOT=/app/database
      - COOKIE_PATH=/app/database/facebookaccount/authen_tranhoangdinhnam/cookies.json
      - MITM_PORT=8899
      # - PROXY_HOST=142.111.48.253
      # - PROXY_PORT=7030
      # - PROXY_USER=ycycsdtq
      # - PROXY_PASS=ka0d32hzsydi
      # - PAGE_LIMIT=100
      # BẬT headless: dùng flag CLI dưới; hoặc thêm HEADLESS=1 rồi sửa entrypoint đọc biến
    # command: >
    #   python /app/post/v2/main.py
    #   --resume
    #   --headless
    volumes:
      - ./post:/app/post
      - ./util:/app/util
      - ./logs:/app/logs
      - ./database:/app/database
    ports:
      - "8899:8899"
    restart: unless-stopped
    shm_size: "1g"

