services:
  # Service 1: Crawler page Thoibao.de
  post_crawler_new_acc01:
    build:
      context: .
      dockerfile: post-Dockerfile
    image: fb-post-crawler:latest
    environment:
      # Hỗ trợ nhiều URL, cách nhau bởi dấu cách
      GROUP_URLS: "https://www.facebook.com/schannel.vn https://www.facebook.com/PETSngao https://www.facebook.com/duskmusic.asia https://www.facebook.com/chuha.cooking https://www.facebook.com/youngtobieedasick https://www.facebook.com/Lainguachanofficial"
      
      # Thời gian chạy tối đa cho mỗi URL (phút). 0 = không giới hạn.
      TIMEOUT: "30"
      
      PAGE_NAME: "new"
      ACCOUNT_TAG: "new"
      DATA_ROOT: "/app/database"
      COOKIE_PATH: "/app/database/facebookaccount/authen_theodorescsa0312@gmail.com/cookies.json"
      HEADLESS: "true"
      CRAWL_DATE: "2025-12-27"
      KEEP_LAST: "350"
      
      # Thêm biến giới hạn scroll nếu cần
      PAGE_LIMIT: "5000"
      
    volumes:
      - ./post:/app/post
      - ./util:/app/util
      - ./logs:/app/logs
      - ./database:/app/database
    restart: no
    shm_size: "1g"
  
  stats_logger:
    image: docker:cli
    container_name: resource_logger
    volumes:
      # 1. Cho phép container này "nhìn thấy" các container khác
      - /var/run/docker.sock:/var/run/docker.sock
      # 2. Map thư mục báo cáo ra máy Windows (Tạo thư mục 'reports' ngang hàng file yml)
      - ./reports:/reports
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "echo 'Time,Name,CPU,RAM_Usage,RAM_Perc,Net_IO' > /reports/stats.csv &&
      while true; do
        timestamp=$(date +%H:%M:%S);
        # Lấy thông số và ghi vào file csv
        docker stats --no-stream --format \"$timestamp,{{.Name}},{{.CPUPerc}},{{.MemUsage}},{{.MemPerc}},{{.NetIO}}\" | sed 's/%//g' >> /reports/stats.csv;
        sleep 5;
      done"
    restart: "no"