services:
  post_crawler_fanpagea_acc00:
    build:
      context: .
      dockerfile: post-Dockerfile
    image: fb-post-crawler:latest  
    environment:
      - GROUP_URL=https://www.facebook.com/thoibao.de
      - PAGE_NAME=thoibaode
      - ACCOUNT_TAG=acc01
      - DATA_ROOT=/app/database
      - COOKIE_PATH=/app/database/facebookaccount/acc01_thoibaode/cookies.json
      - HEADLESS=true
    volumes:
      - ./post:/app/post
      - ./util:/app/util
      - ./logs:/app/logs
      - ./database:/app/database
    restart: unless-stopped
    shm_size: "1g"

  post_crawler_fanpageb_acc01:
    image: fb-post-crawler:latest   
    environment:
      - GROUP_URL=https://www.facebook.com/100005937302699
      - PAGE_NAME=nguyenvandai0906
      - ACCOUNT_TAG=nguyenvandai0906
      - DATA_ROOT=/app/database
      - COOKIE_PATH=/app/database/facebookaccount/acc01_nguyenvandai0906/cookies.json
      - HEADLESS=true
    volumes:
      - ./post:/app/post
      - ./util:/app/util
      - ./logs:/app/logs
      - ./database:/app/database
    restart: unless-stopped
    shm_size: "1g"

  post_crawler_fanpagec_acc02:
    image: fb-post-crawler:latest
    environment:
      - GROUP_URL=https://www.facebook.com/100044545594726
      - PAGE_NAME=nvdai0906
      - ACCOUNT_TAG=nvdai0906
      - DATA_ROOT=/app/database
      - COOKIE_PATH=/app/database/facebookaccount/acc02_nvdai0906/cookies.json
      - HEADLESS=true
    volumes:
      - ./post:/app/post
      - ./util:/app/util
      - ./logs:/app/logs
      - ./database:/app/database
    restart: unless-stopped
    shm_size: "1g"
